<div class="wrap">
	<div class="logo">
		<svg-icon src="assets/svg/logo.svg"></svg-icon>
	</div>
	
	<ul class="desktop">
		<li>
			<a 	(click)="navigateTo('/terms')">
				Terms of Use
			</a>
		</li>
		<li>
			<a 	(click)="navigateTo('/privacy')">
				Privacy Policy
			</a>
		</li>
		<li style="cursor: default;">
			© 2024 GrandFriends
		</li>
	</ul>

	<ul class="mobile">
		<li>
			<a (click)="navigateTo('/about')">
				About
			</a>
		</li>
		<li >
			<a (click)="navigateTo('/community')">
				Community
			</a>
		</li>
		<li >
			<a (click)="navigateTo('/schools')">
				Schools
			</a>
		</li>
		<li>
			<a 	(click)="navigateTo('/terms')">
				Terms of Use
			</a>
		</li>
		<li>
			<a 	(click)="navigateTo('/privacy')">
				Privacy Policy
			</a>
		</li>
		<li style="cursor: default;">
			© 2024 GrandFriends
		</li>
	</ul>
</div>
