:host {
    display: block;
    width: 100%;
    background-color: rgba(248, 244, 255, 1);
}

.wrap {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px 0;
    max-width: 1284px;
}

.logo {
    cursor: pointer;
}

.desktop {
    display: flex;
    column-gap: 50px; 
}

.mobile {
    display: none;
}

.desktop, 
.mobile {
    li {
        cursor: pointer;

        .active {
            color: #5D05EC;
        }

        > a {
            display: inline-block;
            position: relative;
            text-decoration: unset;

            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                bottom: 0;
                height: 2px;
                margin: -5px 0;
                left: 0;
                background-color: #221538;
                transition: all 0.3s ease-in 0s;
            }

            &.active:after {
                content: none;
            }

            &:hover:after {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1365px) {
  
    ul li {
        font-size: 18px;
    }
}

@media screen and (max-width: 1000px) {
    // :host {
    //     flex-direction: column;
    //     gap: 15px;
    // }

    // ul li {

    //     &:nth-child(1),
    //     &:nth-child(2) {
    //         font-weight: 500;
    //     }
    // }

    // ul {
    //     flex-wrap: wrap;
    //     align-items: center;
    //     justify-content: center;
    //     row-gap: 10px;
    // }

    :host {
        padding: 0;
    }

    .desktop {
        display: none;
    }

    .wrap {
        display: flex;
        flex-direction: column;
        padding: 48px 10px;
        gap: 40px;
        border-top: 1px solid rgba(229, 226, 234, 1);
    }

    .mobile  {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        
        li {
            font-weight: 600;

            
        }

        li:last-child {
            margin-top: 48px;
            font-family: Poppins;
            font-size: 18px;
            font-weight: 400;
            line-height: 23.4px;
            text-align: center;
        }

        
    }

    .logo {
        svg-icon {
            display: block;

            svg {
                width: 200px;
            }
        }
    }
}

// @media screen and (max-width: 550px) {
//     :host {
//         padding: 20px;
//     }
// }