:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px 0;
}

.logo {
    cursor: pointer;
}

ul {
    display: flex;
    column-gap: 50px;

    li {
        cursor: pointer;

        .active {
            color: #5D05EC;
        }

        >a {
            display: inline-block;
            position: relative;
            text-decoration: unset;

            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                bottom: 0;
                height: 2px;
                margin: -5px 0;
                left: 0;
                background-color: #221538;
                transition: all 0.3s ease-in 0s;
            }

            &.active:after {
                content: none;
            }

            &:hover:after {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1365px) {
    :host {
        padding: 25px
    }

    ul li {
        font-size: 18px;
    }
}

@media screen and (max-width: 1040px) {
    :host {
        flex-direction: column;
        gap: 15px;
    }

    ul li {

        &:nth-child(1),
        &:nth-child(2) {
            font-weight: 500;
        }
    }

    ul {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
    }

    .logo {
        svg-icon {
            display: block;

            svg {
                width: 200px;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    :host {
        padding: 20px;
    }
}