
<form
    [class.is-sending]="isSending"
    [formGroup]="contactForm"
    (ngSubmit)="onContactFormSubmit()">
    
    <h2> Contact Us </h2>

    <div class="wrap-inputs">
        <div class="group">
            <div class="label-wrap">
                <label for="tel-national">Name* </label>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
                    <span *ngIf="name.errors?.['required']">*Required</span>
                    <span *ngIf="name.errors?.['minlength']">*Too short</span>
                    <span *ngIf="name.errors?.['maxLength']">*Too long</span>
                </div>
            </div>
            <input
                type="text"
                id="name"
                name="name"
                autocomplete="name"
                formControlName="name"
                placeholder="John Lock"
                tabindex="1"
                class="formInput">
        </div>
    
        <div class="group">
            <div class="label-wrap">
                <label for="email">Email Address*</label>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
                    <span *ngIf="email.errors?.['required']">*Required</span>
                    <span *ngIf="email.errors?.['email']">*Invalid email</span>
                    <span *ngIf="email.errors?.['maxLength']">*Too long</span>
                </div>
            </div>
            <input
                id="email"
                name="email"
                placeholder="name@example.com"
                class="formInput"
                autocomplete="on"
                formControlName="email"
                required
                tabindex="2"
                type="email">
        </div> 
             
        <app-input-phone-country-code formControlName="phone">

        </app-input-phone-country-code>
    
        <div class="group" data-select="true">
            <label for="reason">Reason*</label>
            <select
                id="reason"
                name="reason"
                formControlName="reason"
                class="formInput"
                tabindex="4"
                (change)="onReasonChange()">
                <option *ngFor="let reason of reasonData"
                    [value]="reason">
                    {{ reason }}
                </option>
            </select>
        </div>

        @if (isFormControlExists("organization")) {
            <div class="group" [@slideAndBlur]>
                <div class="label-wrap">
                    <label for="organization">Organization Name*</label>
                    <div *ngIf="organization.invalid && (organization.dirty || organization.touched)" class="error-message">
                        <span *ngIf="organization.errors?.['required']">*Required</span>
                        <span *ngIf="organization.errors?.['maxLength']">*Too long</span>
                    </div>
                </div>
                <input
                    type="text" 
                    placeholder="Organization Name"
                    id="organization" 
                    name="organization"
                    autocomplete="organization"
                    formControlName="organization"
                    class="formInput"
                    tabindex="5">
            </div> 
        }
        
        @if (isFormControlExists("website")) {

            <div class="group" [@slideAndBlur]>

                <label for="website">Organization Website</label>
                <div *ngIf="website.invalid && (website.dirty || website.touched)" class="error-message">
                    <span *ngIf="website.errors?.['url']">*Invalid URL</span>
                    <span *ngIf="website.errors?.['maxLength']">*Too long</span>
                </div>

                <input
                    type="url" 
                    placeholder="www.website.com"
                    id="website" 
                    name="website"
                    autocomplete="website"
                    formControlName="website"
                    class="formInput"
                    tabindex="5">
            </div> 
        }

        @if (isFormControlExists("school")) {

            <div class="group" [@slideAndBlur]>
                <div class="label-wrap">
                    <label for="school">School Name*</label>
                    <div *ngIf="school.invalid && (school.dirty || school.touched)" class="error-message">
                        <span *ngIf="school.errors?.['maxLength']">*Too long</span>
                        <span *ngIf="school.errors?.['required']">*Required</span>
                    </div>
                </div>
                <input
                    type="text" 
                    placeholder="School Name"
                    id="school" 
                    name="school"
                    autocomplete="school"
                    formControlName="school"
                    class="formInput"
                    tabindex="5">
            </div> 

        }   

        <div class="group">
            <label for="c&#8291;ity">Location</label>
            <app-input-location-autocomplete
                [isValid]="contactForm.get('location')!.valid || !contactForm.get('location')!.dirty"
                formControlName="location">
            </app-input-location-autocomplete>
        </div>
    
        <div class="group">
            <div class="label-wrap">
                <label for="message">Message*</label>
                <div *ngIf="message.invalid && (message.dirty || message.touched)" class="error-message">
                    <span *ngIf="message.errors?.['maxLength']">*Too long</span>
                    <span *ngIf="message.errors?.['required']">*Required</span>
                </div>
            </div>
            <textarea
                id="message"
                name="message"
                class="formInput"
                placeholder="For additional details or specific questions"
                formControlName="message"
                tabindex="5">
            </textarea>
        </div>
        
    </div>
   
    <div class="wrap-btn">
        <button
            type="submit"
            [disabled]="!this.contactForm.valid">
            Send Inquiry
        </button>
    </div>

    <mat-spinner *ngIf="isSending"></mat-spinner>
</form>

