:host {
    width: 100%;
    display: block;
}

form {
    width: 100%;
    background: transparent;
    position: relative;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        opacity: 0;
        backdrop-filter: blur(0px);
        z-index: 1;
        pointer-events: none;
        transition: all .4s;
    }

    &.is-sending:before {
        opacity: 1;
        backdrop-filter: blur(2px);
        pointer-events: unset;
    }
}

.wrap-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;
}


h2 {
    width: 100%;
    font-family: Poppins;
    font-size: 24px  !important;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left !important;
    color: #221538;
    margin-bottom: 30px;
}


.group {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    transition: all .4s;
    filter: blur(0px);
    transform: translateX(0px);
    display: block;
}

label {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
    display: inline-block;
    margin-bottom: 8px;
    cursor: pointer;
    user-select: none;
}

:host ::ng-deep {
    input,
    select,
    textarea {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: #221538;
    
        border-radius: 4px;
        border: 1px solid #E5E2EA;
        background: rgba(255, 255, 255, 1);
        outline: none;
        
        width: 100%;
        height: 56px;
        padding: 0 20px;

        &:focus {
            border: 1px solid #5D05EC;
        }
    }

    input::placeholder
    textarea::placeholder {
        color: rgba(34, 21, 56, 1);
        font-family: Poppins;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
    }

}

.label-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 8px;
}

.error-message > span {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: right;
    color: rgba(222, 0, 93, 1);
    margin-bottom: 8px;
}

select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.group[data-select]::after {
    content: "";
    position: absolute;
    z-index: 400;
    width: 16px;
    height: 9px;
    background-image: url("/assets/img/carat-icon.webp");
    right: 20px;
    bottom: 23px;
    pointer-events: none;
}

textarea {
    resize: vertical;
    min-height: 128px;
    padding-top: 18px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid rgba(222, 0, 93, 1) !important;
}

button {
    width: 100%;
    max-width: 240px;
    height: 72px;
    background-color: #5D05EC;
    outline: none;
    border-radius: 8px;
 
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
    

    &[disabled] {
        opacity: 0.4;
        pointer-events: none;
        user-select: none;
    }
}

.wrap-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

:host ::ng-deep.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: rgba(93, 5, 236, 1);
}

@media screen and (max-width: 800px) {
    input::placeholder
    textarea::placeholder {
        font-size: 16px;
    }   
}

