:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1284px;
    width: 100%;

    padding-bottom: 98px;
    padding-top: 20px;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 60px;
    max-width: 950px;
}

.buttons {
    display: flex;
    column-gap: 20px;

    img {
        cursor: pointer;
        width: 240px;
        height: 72px;

        transition: all .2s;

        &:hover {
            box-shadow: 0px 4px 20px 0px #2D2D4133;
            transform: translateY(-5px);
        }
    }
}

@media screen and (max-width: 1365px) {
    :host {
        padding: 0 25px;
        padding-bottom: 100px;
    }

    h1 {
        margin-top: 120px;
    }
}

@media screen and (max-width: 950px) {
    h1 {
        margin-top: 60px;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        margin-top: 48px;
    }
}

@media screen and (max-width: 550px) {
    :host {
        padding: 0 20px;
        padding-bottom: 100px;
    }

    .buttons img:last-child {
        display: none;
    }
}

@media screen and (max-width: 400px) {}