
:host {
    display: block;
    width: 100%;
    text-align: center;
}

button {
    width: 100%;
    max-width: 240px;
    height: 72px;
    background-color: #5D05EC;
    outline: none;
    border-radius: 8px;
    outline: none;
    border: 0;
 
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
    cursor: pointer;

    transition: all .3s;
    

    &[disabled] {
        opacity: 0.4;
        pointer-events: none;
        user-select: none;
        
    }

    &:hover {
        background: rgba(34, 21, 56, 1);
        // background: rgba(34, 21, 56, 1);
    }

}