:host {
    max-width:  1284px;
    margin: 0 auto;
    color: rgba(34, 21, 56, 1);
}

section {
    background-color: rgba(248, 244, 255, 1);
    padding: 80px 110px;
    width: 100%;
    margin-bottom: 250px;
    margin-top: 100px;
    border-radius: 10px;
}

.last-modified {
    text-align: center;
}

h1 {
    font-family: Poppins;
    font-size: 64px;
    font-weight: 600;
    line-height: 89.6px;
    text-align: center;
    color:rgba(34, 21, 56, 1);
    margin-top: 120px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: rgba(34, 21, 56, 1);
    text-align: left;
    margin: 0;
}

h3 {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;

    li {
        margin-left: 33px !important;
        font-family: Poppins;
        font-size: 20px;
        line-height: 28px;
        text-align: left;
        margin: 12px;
    }
}

a {
    &:hover {
        color: rgba(34, 21, 56, 1);
    }

    text-decoration: underline;
    font-weight: 600;
}

b {
    font-weight: 600;
}


@media screen and (max-width: 1000px) {
    
    section {
        padding: 80px 20px;
    }
}

