
<h1>Privacy Policy</h1>

<p class="last-modified">Last modified: 3/24/2024</p>

<section>
    <p>
        Fwollo LLC, the company behind GrandFriends AI, respects the privacy of its users. Our Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you visit ourwebsite and use ourmobile applications for iOS and Android. This policy applies to all usersacross our platforms.
    </p>

    <h3>
        Information Collection
    </h3>

    <ul>
        We collect both personal and non-personal information in various ways, including: <br>

        <li>
            <b>Personal Information:</b> 
            This may include your name, emailaddress, phone number, andany content you create or share within the app. For children under the age of 13 (or therelevant age of consent in your jurisdiction), parental consent is required.
        </li>
        
        <li>
            <b>Usage Information:</b> 
            Details of your interactions with our service, such as time spent onthe app, pages visited, and other similar data.
        </li>

        <li>
            <b>Technical Information:</b> 
            Information about your device, including IP address, operatingsystem, browser type, and device identifiers.
        </li>      
    </ul>


    <h3>Use of Information</h3>

    <ul>
        Your information allows us to: <br>

        <li>
            Provide, maintain, and improve our services.
        </li>
        
        <li>
            Communicate with you about updates, support, and administrative messages.
        </li>
        
        <li>
            Understand how you use our services to enhance user experience.
        </li>

        <li>
            Ensure a safe and secure environment for all users.
        </li>
    </ul>

    <h3>Sharing and Disclosur</h3>

    <ul>
        We do not sell your Personal Information. However, we may share information with third partiesin specific circumstances, such as: <br>

        <li>To comply with legal obligations.</li>
        <li>To protect the rights and safety of our users and third parties.</li>
        <li>With service providers performing services on our behalf, under confidentiality agreements</li>
        <li>If Fwollo LLC is involved in a merger, acquisition, or asset sale, your Personal Information may be transferred.</li>
    </ul>

    <h3>Data Retention</h3>

    <p>We retain your information only for as long as necessary toprovide you with our services and asdescribed in this Privacy Policy.</p>

    <h3>Children's Privacy</h3>

    <p>Protecting the privacy of young children is especially important. For that reason, GrandFriends AI does not knowingly collect or solicit personal information from anyone under the age of 13 without parental consent. If we learn that personal information from users less than 13 years ofage has been collected without verifiable parental consent, we will deactivate the account andtake reasonable measures to promptly delete such data from our records.</p>

    <h3>International Transfers</h3>

    <p>Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country, or other governmental jurisdiction where the data protection laws may differ from those of your jurisdiction.</p>
    
    <h3>Your Rights</h3>

    <p>You have the right to access, update, or to delete the information we have on you. Whenever made possible, you can access, update, or request deletion of your Personal Data directly within your account settings section. If you are unable to perform these actions yourself, please contact us to assist.</p>

    <h3>Changes to This Privacy Policy</h3>

    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page and updating the "Effective Date" at the top.</p>

    <h3>Contact Us</h3>
    <p>
        If you have any questions about this Privacy Policy, please contact us at 
        <a href="mailto:info@fwollo.com">info&#xFF20;fwollo.com.</a>
    </p>
</section>