
<h1>Terms and Conditions</h1>

<p class="last-modified">Last modified: 3/24/2024</p>

<section>
    
    <h3>Introduction</h3>

    <p>GrandFriends AI, owned by FwolloLLC and registered in Pennsylvania, is a platform designed to foster intergenerational connections through storytelling. Available worldwide via web and mobile apps for iOS and Android, our service uses AI to help users, including children and seniors, record and share personal stories.</p>
    <p>By using GrandFriends AI, you agree to these Terms and Conditions. If you disagree with any part, please do not use our service.</p>

    <h3>International Use and Compliance</h3>
    <p>GrandFriends AI complies with international privacy laws, including the General Data Protection Regulation (GDPR) in Europe and the California Consumer Privacy Act (CCPA). We arecommitted to protecting the privacy of all users, with special attention to minors.</p>
    
    <h3>Use License</h3>
    <p>Permission is granted for personal, non-commercial use of GrandFriends AI materials. This license does not allow for modification, commercial use, or attempts to reverse engineer the software.</p>

    <h3>User Consent and Privacy</h3>
    <ul>
        <li>
            <b>Data Protection:</b>  We prioritize the privacy and security of our users' data, adhering to the highest standards of data protection.
        </li>
        
        <li>
            <b>Consent for Minors:</b> For users under the age of 13 (or the relevant age of consent in your jurisdiction), parental consent is required to use GrandFriends AI. Schools using ourplatform must ensure they have obtained parental consent for minor students.
        </li>
    </ul>

    <h3>Content Ownership and Use</h3>
    <p>Users retain ownership of the content they create but grant GrandFriends AI a license to use, reproduce, and display the content in connection with the service provided by the platform.</p>

    <h3>Disclaimer</h3>
    <p>Materials on GrandFriends AI are provided "as is". Fwollo LLC disclaims all warranties, expressed or implied, to the fullest extent permitted by law.</p>

    <h3>Limitations of Liability</h3>
    <p>Fwollo LLC will not be liable for any damages arising from the useor inability to use GrandFriends AI.</p>

    <h3>Governing Law</h3>
    <p>These Terms are governed by Pennsylvania law. Users agree to submit to the jurisdiction of Pennsylvania courts for any disputes.</p>
    
    <h3>Changes to Terms</h3>
    <p>FwolloLLC may update these Terms at any time. Continued use of the service after changesindicates acceptance of the new Terms.</p>

    <h3>Contact Us</h3>
    <p>
        If you have any questions about this Privacy Policy, please contact us at 
        <a href="mailto:info@fwollo.com">info&#xFF20;fwollo.com.</a>
    </p>
</section>

