<div class="wrap-text">
	<h2 [innerHTML]="data.title"></h2>
	<p [innerHTML]="data.description"></p>
	<ol class="sources" *ngIf="data?.isSources"> 
		<li>
			* <span class="underline">“The Benefits of Intergenerational Programs”</span> by Generations United
		</li> 
		<li>
			** “Intergenerational Programs and Their Current and Future Challenges” by Journal of Intergenerational Relationships
		</li>
	</ol>
	
	@if(isShowMore) {
		
		@if(switchImgAndButton) {
			<img 
				[src]="imgPath" 
				[alt]="data.img" 
				[class.isImgRight]="data.isImgRight"
				[class.isAdditionalPadding]="data.isAdditionalPadding">
		} @else {
			<app-common-button
				(click)="onShowMoreClick()">
				{{data.linkButton?.text}}
			</app-common-button>
		}
		
	} 
	
	
</div>


@if(isShowMore) {
		
	@if(switchImgAndButton) {
		<app-common-button
			(click)="onShowMoreClick()">
			Show more
		</app-common-button>
	} @else {
		<img 
			[src]="imgPath" 
			[alt]="data.img" 
			[class.isImgRight]="data.isImgRight"
			[class.isAdditionalPadding]="data.isAdditionalPadding">
	}
	
} @else {
	<img 
		[src]="imgPath" 
		[alt]="data.img" 
		[class.isImgRight]="data.isImgRight"
		[class.isAdditionalPadding]="data.isAdditionalPadding">
}




