:host {
    display: flex;
    justify-content: center;
    align-items: center;

    column-gap: 133px;
    padding-top: 222px;
    padding-bottom: 28px;

    &:has(img:not(.isImgRight)) {
        flex-direction: row-reverse;
    }

    &:has(img.isAdditionalPadding) {
        padding-bottom: 250px;
    }
}

h2,
p {
    max-width: 630px;
}

h2 {
    margin-bottom: 30px;
}

.sources {
    max-width: 600px;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;

    .underline {
        text-decoration: underline;
    }

    li {
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        text-align: left;
        opacity: .6;
    }
}

app-common-button {
    text-align: left;
    margin-top: 40px;
}

:host {
    ::ng-deep {
        ul {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            margin-left: 35px;

            li {
                position: relative;

                &:before {
                    content: '✔';
                    font-weight: 600;
                    position: absolute;
                    left: -35px;
                    color: #5D05EC;
                }
            }

            span {
                color: #5D05EC;
                display: block;
                font-weight: 600;
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width: 1370px) {
    .wrap-text {
        ::ng-deep {

            p,
            h2 {
                text-align: center;
            }

            ul {

                li {
                    text-align: left;
                }

                span {
                    text-align: left;
                }
            }

            
        }
        img {
            margin-top: 40px;
        }
    }

    :host {
        flex-direction: column;
        padding-left: 25px;
        padding-right: 25px;
    }

    :host:has(img:not(.isImgRight)) {
        flex-direction: column;
    }

    .sources {
        li {
            text-align: left;
        }
    }

    app-common-button {
        text-align: center;
    }

    img {
        margin-top: 40px;
    }

}

@media screen and (max-width: 600px) {
    img {
        width: 100%;
        margin-left: -40px;

        &.isImgRight {
            margin-right: -40px;
            margin-left: 0;
        }
    }

    :host {
        padding-top: 150px;
        padding-bottom: 0px;

        &:has(img.isAdditionalPadding) {
            padding-bottom: 150px;
        }
    }

    .wrap-text {
        ::ng-deep {

            p,
            h2 {
                text-align: left;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    :host {
        padding-right: 20px;
        padding-left: 20px;
    }

    .wrap-text {
        ::ng-deep {
            p {
                font-size: 18px;
            }
        }
    }
}