

<div class="group">

    <div class="label-wrap">
        <label for="tel-national">Phone number </label>
        @if (!isValid) {
            <div  class="error-message">
                <span >*Invalid phone number</span>
            </div>
        }
    </div>

    <div class="input-wrap" 
        #phoneWrap
        [ngClass]="{'invalid': !isValid}">
    
        <div class="country-code"
            (click)="isDropdown = !isDropdown">
            <img [src]="'https://flagsapi.com/'+currentCountry.code+'/flat/24.png'" alt="flag" class="flag">
            <span class="dial-code">{{ currentCountry.dial_code }}</span>
            <img src="assets/img/carat-icon.webp" alt="" class="carat">
        </div>
        
        <input
            id="tel-national"
            name="tel-national" autocomplete="tel-national"
            class="formInput"
            placeholder="XXX-XXX-XXXX"
            tabindex="3"
            type="text"
            (input)="onInputChange()"
            [formControl]="phoneInput">
    
        <div class="countries-dropdown" 
            [ngStyle]="{'display': isDropdown ? 'block' : 'none'}">
            <app-country-codes-picker
                (onCountryChange)="onCountryChange($event)">
            </app-country-codes-picker>
        </div>
   </div>

   <mat-spinner *ngIf="isVerification"></mat-spinner>
    
</div>

