:host {
    width: 100%;
    display: block;
}

.group {
    display: flex;
    flex-direction: column;
}

.label-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.error-message {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: right;
    color: rgba(222, 0, 93, 1);
    margin-bottom: 8px;
}

.input-wrap {
    display: flex;
    gap: 5px;
    width: 100%;
    height: 56px;
    
    border-radius: 4px;
    border: 1px solid #E5E2EA;
    background: rgba(255, 255, 255, 1);

    position: relative;
}

label {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

input {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #221538;

    background: transparent;
    
    width: 100%;
    height: 56px;
    padding: 0 20px;

    border: none !important;

    &:focus {
        border: none !important;
    }
}

input:focus .input-wrap {
    border: 1px solid #5D05EC;
}

.input-focus {
    border: 1px solid #5D05EC;
}

input::placeholder {
    color: rgba(34, 21, 56, 1);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    opacity: .6;
}

.country-code {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding-left: 20px;

    width: fit-content;
    height: 56px;

    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #221538;

    .dial-code {
        white-space: nowrap;
    }

    .flag {
        width: 30px !important;
    }

    .carat {
        width: 12px !important;
    }

}

.countries-dropdown {
    position: absolute;
    z-index: 1000;
    top: calc(100% + 7px);
    border-radius: 4px;
    border: 1px solid #5D05EC;
   
    width: 100%;
    background: rgba(255, 255, 255, 1);
}
