:host {
    display: block;
    width: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    width: 100%;
    padding: 280px 0;
    background-size: cover;
    background-position: right;
}

h2 {
    max-width: 678px;
    text-align: center;
}

p {
    max-width: 734px;
    text-align: center;
}

@media screen and (max-width: 1365px) {
    .wrap {
        padding: 280px 25px;
    }
}

@media screen and (max-width: 950px) {}

@media screen and (max-width: 800px) {
    .wrap {
        padding: 150px 25px;
        background-position-x: 80%;
    }
}

@media screen and (max-width: 500px) {
    .wrap {
        padding-right: 20px;
        padding-left: 20px;
    }

    p {
        font-size: 18px;
        line-height: 23.4px;

        ::ng-deep br {
            content: ' ';
            display: block;
            margin-top: 15px;
        }
    }
}

@media screen and (max-width: 400px) {}