/* You can add global styles to this file, and also import other style files */
@import url('./assets/styles/reset.scss');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';


* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #221538;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal;

    span.marked {
        color: #5D05EC;
    }

}

p {
    line-height: normal;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 600;
    transition: font-size .3s;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 56px;
    font-weight: 600;
    transition: font-size .3s;
}

body:has(.burger.open) {
    overflow: hidden;
    padding-right: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #221538;
}

::-webkit-scrollbar-thumb:hover {
    background: #5D05EC;
}

@media screen and (max-width: 1365px) {

    h1,
    h2 {
        font-size: 56px !important;
    }
}

@media screen and (max-width: 950px) {

    h1,
    h2 {
        font-size: 45px !important;
    }
}

@media screen and (max-width: 700px) {

    h1,
    h2 {
        font-size: 35px !important;
    }
}

@media screen and (max-width: 550px) {

    h1,
    h2 {
        font-size: 32px !important;
        line-height: 38.4px;
    }
}

@media screen and (max-width: 500px) {
    p br {
        content: " ";
        display: block;
        margin-top: 15px;
    }
}

@media screen and (max-width: 400px) {}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
