    
<input
    placeholder="Enter City and State"
    autocomplete="off"
    tabindex="5"
    id="location"
    [matAutocomplete]="auto"
    #formInput
    [value]="value"
    (input)="onChangeLocation($event)"
    (blur)="_onInputBlur()">
    <mat-autocomplete #auto="matAutocomplete">
        @for (place of autocompleteLocations; track place.formatted) {
            <mat-option
                [value]="place.city + ', ' + place.country"
                (onSelectionChange)="onSelectChange($event)">
                <div class="wrap-select">
                    <div class="icon">
                        <mat-icon class="mat-18">location_city</mat-icon>
                    </div>
                    <div
                        class="address-line-1"
                        [innerHTML]="place.city | autocompleteHighlight: value">
                    </div>
                    <div class="address-line-2">
                        {{ place.country }}
                    </div>
                </div>
            </mat-option>
        }
        
    </mat-autocomplete>


    <mat-spinner *ngIf="isLoading"></mat-spinner>

