
.wrap-select {
    display: flex;
    align-items: center;

    .icon {
        margin-right: 5px;
        display: flex;
    }

    .address-line-1 {
        margin-right: 5px;
        line-height: 18px;
        white-space: nowrap;
    }

    .address-line-2 {
        line-height: 18px;
        font-size: 12px;
        opacity: 0.5;
        max-width: 190px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.invalid {
    border: 1px solid rgba(222, 0, 93, 1)
}


input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
    border: 1px solid rgba(222, 0, 93, 1)
    }

.icon span {
    color: #444444;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
    width: 100%;
}

input {
    position: relative;
}

mat-spinner {
    position: absolute;
    width: 20px !important;
    right: 30px;
    top: 13.5px;
}

