<div class="logo">
	<a routerLink="/">
		<!-- <img src="assets/img/logo.webp" alt="Logo"> -->
        <svg-icon src="assets/svg/logo.svg"></svg-icon>
	</a>
</div>

<app-header-widget-burger-ui 
    [isOpenBurger]="isOpenBurger"
    (toggleNavigation)="onToggleNavigation()">
</app-header-widget-burger-ui>

<ul>
	<li>
		<a 
			routerLink="/about" 
			routerLinkActive="active">
			About
		</a>
	</li>
	<li>
		<a
			routerLink="/community" 
			routerLinkActive="active">
			Community
		</a>
	</li>
	<li>
		<a
			routerLink="/schools" 
			routerLinkActive="active">
			Schools
		</a>
	</li>
	<li>
		<a 
			routerLink="/login" 
			routerLinkActive="active">
			Login
		</a>
	</li>
</ul>