:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px 100px;
}

.logo {
    cursor: pointer;
}

app-header-widget-burger-ui {
    display: none;
}

ul {
    display: flex;
    column-gap: 50px;

    li {
        cursor: pointer;

        .active {
            color: #5D05EC;
        }

        >a {
            display: inline-block;
            position: relative;
            text-decoration: unset;

            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                bottom: 0;
                height: 2px;
                margin: -5px 0;
                left: 0;
                background-color: #221538;
                transition: all 0.3s ease-in 0s;
            }

            &.active:after {
                content: none;
            }

            &:hover:after {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1365px) {
    :host {
        padding: 25px 25px 32px 25px;
    }
}

@media screen and (max-width: 1040px) {
    ul {
        display: none;
    }

    app-header-widget-burger-ui {
        display: block;
    }

    .logo {
        svg-icon {
            display: block;

            svg {
                width: 200px;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    :host {
        padding: 20px 20px 32px 20px;
    }
}