:host {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 32px 0;
}

.logo {
	cursor: pointer;
}

ul {
	display: flex;
	column-gap: 50px;

	li {
		cursor: pointer;

		> a {
			display: inline-block;
			position: relative;
			text-decoration: unset;
			
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 0;
				bottom: 0;
				height: 2px;
				margin: -5px 0;
				left: 0;
				background-color: #221538;
				transition: all 0.3s ease-in 0s;
			}

			&:hover:after {
				width: 100%;
			}
		}
	}
}