:host {
	display: flex;
	justify-content: center;
	width: 100%;

	* {
		color: white;
	}
}

.main-wrap {
	width: 100%;
	min-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 135px 0;
	background-size: cover;
    background-position: right;
}

.inner-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	gap: 130px;
	max-width: 1284px;
}


.buttons {
	display: flex;
	column-gap: 20px;
	margin-top: 60px;

	img {
		cursor: pointer;
		width: 240px;
		height: 72px;

		transition: all .2s;

		&:hover {
			box-shadow: 0px 4px 20px 0px #2D2D4133;
			transform: translateY(-5px);
		}
	}
}

h2 {
	margin-bottom: 20px;
	max-width: 630px;
}

p {
	max-width: 630px;

	::ng-deep {
		strong {
			font-weight: 600;
			color: white;
		}		
	}
}


img.phone  {
	max-width: 480px !important;
	width: 100% !important;
	height: auto !important;
	margin-top: 40px;
}

.wrap-text {
	display: flex;
	flex-direction: column;
}

.wrap-form {
	width: 100%;
	max-width: 630px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(248, 244, 255, 1);
	border-radius: 10px;
	padding: 60px;
}


@media screen and (max-width: 1300px) {
	
	.inner-wrap {
		flex-direction: column;
	}

	.wrap-text {
		align-items: center;
		text-align: center;
	}

}


@media screen and (max-width: 700px) {
	.wrap-text {
		padding: 0 10px;
	}

	.wrap-form {
		border-radius: 0px;
		padding: 100px 20px;
		max-width: 100%;
	}

	.main-wrap {
		padding-bottom: 0px;
	}
}


